@import '../../styles/propertySets.css';



.title {
  @apply --marketplaceH1FontStyles;
  margin-top: 0;
}
.steps {
  display: flex;
  flex-direction: column;

  @media (--viewportMedium) {
    flex-direction: row;
  }
}

.step {
  @media (--viewportMedium) {
    width: 324px;
    margin-right: 40px;
  }
}

.step:last-of-type {
  @media (--viewportMedium) {
    margin-right: 0;
  }
}

.stepTitle {
  margin-top: 18px;
  margin-bottom: 18px;

  @media (--viewportMedium) {
    margin-top: 21px;
    margin-bottom: 18px;
  }
}

.createListingLink {
  margin-top: 18px;

  @media (--viewportMedium) {
    margin-top: 24px;
  }
}

.image {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  padding: 0px 10px;
}
.container {
  display: flex;
  width: 100%;
  max-width: 100%;
  overflow: scroll;
  gap: 54px;
  overflow-y: hidden;
  scroll-behavior: smooth;
  @media (--viewportMedium) {
    overflow: hidden;
  }
  /* margin: 0rem 3rem; */
}
.container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.mainContainer {
  display: flex;
}
.left {
  display: none;
  @media (--viewportMedium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0.5rem;
    height: 100px;
  }
}
.right {
  display: none;
  @media (--viewportMedium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
    height: 100px;
  }
}
.logo {
  color: var(--marketplaceColor);
  font-weight: 600;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
    color: var(--marketplaceColorDark);
  }
}
.logoDisbaled {
  color: lightgray;
  font-weight: 600;
  font-size: 2rem;
}
